/**
Henry Tu 6464143
IASC 1P02 Assignment 4
**/
.header{
  font-size: 25pt;
  font-family: 'boxfontRoundRegular';
  background-color: black;
  border: solid 5px yellow;
  clear: left;
  color: orange;
  margin-bottom: 50px;
}
.title{
  border: solid 5px yellow;
  margin: 10px;
  display: inline;
  font-size: 50pt;
}
.nav{
  border: solid 5px yellow;
  margin: 10px;
  display: inline;
}
#countbox{
  background-color: #4d00ff;
  display: inline;
  margin: 0px,50px;
}
#ship{
  float: right;
}
.title:hover, .nav:hover{
  background-color: yellow;
  transition:1000ms;
}
a{
  color: inherit;
}
#main{
  float:right;
  width:1140px;
  color: orange;
  background-color: black;
  padding: 15px 10px;
  margin-right: 100px;
  border: solid 1px yellow;
}
#side{
  float:left;
	width: 490px;
	background-color: black;
  color: orange;
	padding: 15px 10px;
	margin-left: 100px;
  border: solid 1px yellow;
}
#box{
  margin: 10px;
  background-color: black;
  color: orange;
  padding: 20px;
}
img{
  margin: auto;
}

}
h1{
  color: yellow;
  font-family: 'NeomatrixCodeRegular';
}
body{
  background-image: url("https://wallpapercave.com/wp/9F4nLIq.jpg");
}
footer{
  font-size: 10pt;
  clear:both;
  background-color: yellow;

}

.clear{
  float: none;
}





.pImage{
  width: 20%;
  max-height: 12%;
  border: dashed #0000ff;

}
.box{

}
.box:hover{
  background-color: #fff9da;
  transition:500ms;
}
.name{
  margin: 30px;
  vertical-align: top;
  font-size: 15pt;
}


.info{
  vertical-align: top;
  font-size: 12pt;
}

.wrapper{
  width: 250px;
  height: 400px;
  margin: 50px 150px;
  background-color: #e6e62e;
  padding: 15px;
  position: relative;
  float: left;
}
.leftBox{
float: left;
}
.midBox{

}
.rightBox{
  float: right;
}
.listName{
  border: solid #0000ff 1px;
  padding:5px;

}
.lImage{
  width: 220px;
  max-height: 300px;
  border: dashed #0000ff;
  margin: auto;
}
.descriptText{
  max-width: 800px;
}

@media print {
  .nav{
    display: none;
  }
}
.button{
  background-color: #db4bff;
}
.button:hover{
  background-color: #ff0080;
  transition:1000ms;
}
